/**
 * ---01 TYPOGRAPHY
 *   
 *   	-- Font sizes (px)
 *   	10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 *   
 *   	-- Font weights
 *   		Default:400
 *   		Medium:500
 *   		Semi-bold: 600
 *   		Bold: 700
 *   
 *   	-- Line heights
 *   		Default: 1
 *   		small: 1.05
 *   		medium: 1.2
				large: 1.8
 *   		Paragraph default: 1.6
 *   
 *   	-- Letter Spacing
 *   		-0.5px
 *   		0.75px
 *   
 *   --- 02 COLORS
 *   	-- Primary: #e67e22
 *   	-- Tints: #f8d8bd,  #f3bf91, #f5cba7, #eb984e, #45260a
 *   	-- Shades:#cf711f, 
 *   	-- Accents:
 *   	-- Greys: #333, #555, #6f6f6f(lightest gray allowed on #fdf2e9),#767676 (lightest gray allowed on #fff), #888
 *   
 *   --- 05 SHADOWS
 box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.075);
 *   
 *   --- 06 BORDER RADIUS
 *   Default: 9px
 *  		Medium: 11px
 *   
 *   --- 07 WHITESPACE
 *   
 *   	-- Spacing system (px), 1rem = 1px
 *   	2 / 4 / 8 / 12 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 *
 * @format
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* font-size 16px; */
	/* 16px/16px = 1 = 100% */
	/* Percentage of user's browser font-size setting */
	font-size: 100%;
}

body {
	font-family: "Rubik", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
}

/****************************/
/*GENERAL REUSABLE COMPONENT*/
/****************************/

.container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 2rem;
}

.grid {
	display: grid;
	column-gap: 4rem;
	row-gap: 6rem;
}

.grid:not(:last-child) {
	margin-bottom: 6rem;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
	grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
	align-items: center;
}

.heading-primary,
.heading-secondary {
	font-weight: 700;
	color: #333;
	/* color: #45260a; */
	letter-spacing: -0.5px;
}

.heading-primary {
	font-size: 2.9rem;
	line-height: 1.05;
	margin-bottom: 2rem;
}

.heading-secondary {
	font-size: 2.75rem;
	line-height: 1.2;
	margin-bottom: 6rem;
}

.heading-tertiary {
	font-size: 1.875rem;
	line-height: 1.2;
	margin-bottom: 2rem;
	color: #333;
}

.subheading {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	color: #cf711f;
	text-transform: uppercase;
	margin-bottom: 1rem;
	letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	text-decoration: none;
	font-size: 1.25rem;
	padding: 1rem 2rem;
	border-radius: 9px;
	font-weight: 600;
	transition: all 0.3s;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.btn--cta:link,
.btn--cta:visited {
	background-color: #e67e22;
	color: white;
}

.btn--cta:hover,
.btn--cta:active {
	background-color: #cf711f;
	color: white;
}

.btn-learn-more:link,
.btn-learn-more:visited {
	background-color: #fff;
	color: #555;
}

.btn-learn-more:hover,
.btn-learn-more:active {
	background-color: #f8d8bd;
	color: #555;
	/* border: 3px solid white; */
	box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
	background-color: #45260a;
	color: #fdf2e9;
	align-self: end;
	padding: 0.75rem;
}

.btn--form:hover {
	background-color: #fff;
	color: #555;
}

.link:link,
.link:visited {
	display: inline-block;
	color: #e67e22;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	transition: all 0.3s;
}

.link:hover,
.link:active {
	color: #cf711f;
	border-bottom: 1px solid transparent;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.list-item {
	font-size: 1.125rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	line-height: 1.2;
}

.list-icon {
	width: 1.875rem;
	height: 1.875rem;
	color: #e67e22;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 0.5rem rgba(230, 125, 34, 0.5);
}

/*HELPER/SETTINGS CLASSES*/

.margin-right-sm {
	margin-right: 1rem !important;
}

.margin-bottom-md {
	margin-bottom: 3rem !important;
}

.center-text {
	text-align: center;
}

strong {
	font-weight: 500;
}
