/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/******************************/
/* BELOW 1344px (smaller desktop) */
/******************************/

@media (max-width: 84em) {
	.hero {
		max-width: 75rem;
	}

	.heading-primary {
		font-size: 2.75rem;
	}

	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

/******************************/
/* BELOW 1200px (Landscape Tablets) */
/******************************/

@media (max-width: 75em) {
	html {
		/* 15px/16px =  */

		font-size: 93.75%;
	}

	.grid {
		column-gap: 4rem;
		row-gap: 4rem;
	}

	.heading-secondary {
		font-size: 2.25rem;
	}

	.heading-tertiary {
		font-size: 1.5rem;
	}

	.header {
		padding: 0 2rem;
	}

	.hero {
		gap: 3rem;
	}

	.main-nav-list {
		gap: 2rem;
	}

	.testimonials-container {
		padding: 6rem 2rem;
	}
}

/******************************/
/* BELOW 944px (Tablets) */
/******************************/
@media (max-width: 59em) {
	html {
		/* 14px/16px = 87.5% */
		font-size: 87.5%;
	}

	.hero {
		grid-template-columns: 1fr;
		padding: 0.5rem;
		gap: 4rem;
	}

	.hero-text-box,
	.hero-img-box,
	.hero-img-box {
		text-align: center;
	}
	.hero-img {
		width: 60%;
	}

	.deliverd-meals {
		justify-content: center;
		margin-top: 2rem;
	}

	.logos img {
		height: 1.5rem;
	}

	.step-number {
		font-size: 4.6rem;
	}

	.meal-content {
		padding: 1.5rem 2rem 2rem 2rem;
	}

	.section-testimonials {
		grid-template-columns: 1fr;
	}

	.gallery {
		grid-template-columns: repeat(6, 1fr);
	}

	.cta {
		/* 3/5 = 60% + 2/5 = 40% */
		grid-template-columns: 3fr 2fr;
	}

	.cta-form {
		grid-template-columns: 1fr;
	}

	.btn--form {
		margin-top: 0.75rem;
	}
}

/****************************/
/*MOBILE NAVIGATION*/
/****************************/

.btn-mobile-nav {
	display: block;
}
